/* general colours */

.nav-colour {
    background-color: #45B3E6;
}

.mobile-body {
    background-color: #388CB6;
}

.footer-colour {
    background-color: #FEBC11;
}

/* fonts */

.lily {
    font-family: 'Lily Script One', sans-serif;
}

/* home page */

/* .main-title {
    height: 100vh;
    text-align: center;
    color: black;
    font-size: 500%;
    margin-top: 91px;
    padding-top: 50%;
} */

