/* general colours */

.nav-colour {
    background-color: #45B3E6;
}

.mobile-body {
    background-color: #388CB6;
}

.footer-colour {
    background-color: #FEBC11;
}

/* general styles */

html {
    height: 100vh;
}

body {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 40px;
}

/* fonts */

.lily {
    font-family: 'Lily Script One', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.nav-text {
    font-family: 'Montserrat', sans-serif;
}

/* nav bar */

.nav-text:hover {
    border-color: #fff;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.divider {
    font-size: 0;
}

.dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: #45B3E6;
    border-color: #fff;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}

.offcan-title {
    text-decoration: none;
    color: #000;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-navbar-active-color);
    background-color: #45B3E6;
}

/* home page */

.main-title {
    text-align: center;
    color: black;
    font-size: 16vw;
    padding: 22vh 20px;
    text-shadow: 1px 1px 20px #fff;
    line-height: 150%;
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-box {
    border: 2px solid #45B3E6;
    border-radius: 50%;
    width: 30px;
    background-color: #45B3E6;
}

.social-box:hover {
    background-color: #fff;
}

.social-box:hover .fa-brands {
    color: #45B3E6;
}

.fa-brands, .fab {
    font-weight: 400;
    left: 6px;
    position: relative;
    color: #fff;
}

i.fa-brands.fa-facebook-f {
    left: 8px;
}

footer p {
    margin-top: 3%;
    margin-bottom: 10%;
}

li.nav-item.copyright {
    margin-top: 4px;
    right: 3px;
    position: relative;
}

ul.nav.justify-content-center.social-icons {
    margin-top: 9px;
}

/* media queries */

@media only screen and (min-width: 425px) {
    .main-title {
        padding: 17.4vh 20px;
    }
}

@media only screen and (min-width: 453px) {
    .main-title {
        font-size: 17vw;
    }
}

@media only screen and (min-width: 494px) {
    .main-title {
        padding: 12vh 20px;
    }
}

@media only screen and (min-width: 600px) {
    .main-title {
        padding: 12.3vh 20px;
    }
}

@media only screen and (min-width: 768px) {
    .divider {
        padding-top: 7px;
        font-size: 1rem;
    }

    .nav-text {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1440px) {

    .nav-text {
        font-size: 2rem;
    }
}